.na-hero-section {
  width: 100%;
  height: auto;
  min-height: 320px;
}

.na-hero-collage {
  box-shadow: 5px 5px 2px #bdbbbb;
  border-radius: 10px;
  background: #f7f7f7;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 320px;
  overflow: hidden;
}

@media (max-width: 781px) {
  .na-hero-section,
  .na-hero-collage {
    min-height: 240px;
  }
}
